bin/
lib/

*.a
*.d
*.o
*.so

tags

src/interfaces/interfaces
src/multicast/mcast-recv/mcast-recv
src/multicast/mcast-send/mcast-send
src/tcp/tcp-echo-server/tcp-echo-server
src/unix_domain/unix-client/unix-client
src/unix_domain/unix-server/unix-server

src/version.h
